<!-- Main navbar -->
<div class="navbar navbar-default navbar-fixed-top header-highlight">
	@{
		Html.RenderPartial("_NavbarHeader");
		Html.RenderPartial("_NavbarMobile");
	}
</div>
<!-- /main navbar -->