<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-fixed">
	<div class="sidebar-content">
		@{
			Html.RenderPartial("_SidebarUserMenu");
			Html.RenderPartial("_SidebarNavigation");
		}
	</div>
</div>
<!-- /main sidebar -->