<?xml version="1.0"?>
<connectionStrings>
	<add name="StatTrackConn" connectionString="Data Source=(local); Initial Catalog=StatTrack; User Id=db_webuser; Password=db_password; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />
	<add name="ELMAHConn" connectionString="Data Source=(local); Initial Catalog=StatTrack; User Id=db_webuser; Password=db_password; MultipleActiveResultSets=True; App=EntityFramework" providerName="System.Data.SqlClient" />
</connectionStrings>