@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-success panel-bordered">
			<div class="panel-heading">
				<h6 class="panel-title">
					Email confirmed
				</h6>
			</div>
			<div class="panel-body">
				Your email has been confirmed! Please @Html.ActionLink("click here", "Login") to login to your account!
			</div>
		</div>
	</div>
</div>

