@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-danger  panel-bordered">
			<div class="panel-heading">
				<h6 class="panel-title">
					Password reset failed.
				</h6>
			</div>
			<div class="panel-body">
				Sorry, but the password reset process failed. Please request another token from @Html.ActionLink("this page", "PasswordResetRequest").
			</div>
		</div>
	</div>
</div>