@{
	Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-success  panel-bordered">
			<div class="panel-heading">
				<h6 class="panel-title">
					Password change successful
				</h6>
			</div>
			<div class="panel-body">
				Your password has been updated. Please @Html.ActionLink("click here", "Login") to login usin your new password.
			</div>
		</div>
	</div>
</div>



